body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.network{
border-radius:25px;
background-color:rgb(154, 233, 154);
bottom: 30px;
position: fixed;
padding: 10px;
left: 30px;
z-index: 9999999;
box-shadow: green inset;



}
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 40px;
  margin: 10px;
  color: #333;
}

.footer-section {
  max-width: 300px;
}

.footer-section h2 {
  color: rgb(54, 90, 7);
}
 
.footer-section a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}
 


.footer-section a:hover {
  color: green;
}
